header {
  padding-bottom: 16px;
}

.app-root-main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;

  flex-grow: 1;
}

.root-content {
  display: block;
  flex-grow: 0;
}

.custom-footer {
  flex-grow: 1;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clickable {
  cursor: pointer;
}
