header {
  padding-bottom: 16px;
}

footer {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25px;
}

.clickable {
  cursor: pointer;
}
