<div class="main">
  <ng-container *ngIf="results">
    <h1>Game Over</h1>
    <p>{{ results.winningStatement }}</p>
    <p>{{ results.details }}</p>
  </ng-container>

  <div *ngIf="isReady">
    <app-player *ngIf="hasStarted" [playerModel]="you"></app-player>
  </div>

  <ul *ngIf="hasStarted; else lobbyPlayersGetReady">
    <h2>Other Players:</h2>
    <li *ngFor="let player of otherPlayers">
      <app-player [playerModel]="player"></app-player>
    </li>
  </ul>

  <ng-template #lobbyPlayersGetReady>
    <h2>Lobby:</h2>
    <h1>{{ gameId }}</h1>

    <button class="button" *ngIf="!isReady" (click)="onReady()">Ready</button>

    <button class="button" *ngIf="!hasStarted && canStart" (click)="onStartGame()">
      Start game
    </button>  

    <p *ngIf="playersInLobby.length === 0">No one is here yet</p>
    <ul>
      <li *ngFor="let playerInLobby of playersInLobby">
        <p>
            {{ playerInLobby }}
        </p>
      </li>
    </ul>
  </ng-template>

</div>
